.principle-title > h4 {
    color: white !important;
}
.logo > a > span {
    color: orange;
}

.value-card {
    border: 0;
}

.value-card .card-body > h6 {
    color: grey;
}

.value-image {
    height: 60px;
    padding-bottom: 5px;
}

.ceo-img {
    max-height: 500px;
    left: 0;
}

/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */
/* FontAwesome for working BootSnippet :> */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    /* border-color: #007b5e; */
}

.custom-section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    /* color: #007b5e; */
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    /* color: #007b5e !important; */
}

.frontside .card .card-title,
.backside .card .card-title {
    /* color: #007b5e !important; */
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.box {
    margin-top: 45px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 10%);
}

.box .img-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 90%,
        21% 90%,
        15% 100%,
        9% 90%,
        0 90%
    );
}

.box .detail-box {
    padding: 20px;
}

.box .detail-box > h5 {
    text-transform: uppercase;
}

.quote-btn {
    border-radius: 10px;
    padding: 15px 20px;
}

/* ============================================================================================================ */
/* =============================================404 page======================================================= */
/* ============================================================================================================ */
@keyframes color {
    0% {
        background: #33cccc;
    }
    20% {
        background: #33cc36;
    }
    40% {
        background: #b8cc33;
    }
    60% {
        background: #fcca00;
    }
    80% {
        background: #33cc36;
    }
    100% {
        background: #33cccc;
    }
}
/*
body {
    background: #33cccc;
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}
h1 {
    text-align: center;
    font-family: "Kavoon", sans-serif;
    font-size: 2.5em;
    color: white;
}
     */

section.not-found{
    background-image: url(../img/errors/17.svg);
    font-family: 'Raleway', 'sans serif';
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 200px; */
    padding-bottom: 200px;
}
section.not-found h1 {
    font-size: 3em !important;
}
